@inherits Star.WebPanel.Nancy.StarRazorViewBase


@{
	Layout = "Views/Shared/_Layout.cshtml";
}

<div id="chat" style="overflow-y: scroll; height: 500px">
</div>
<div id="chatText">
	<input id="chatInput" type="text" class="form-control" style="width:100%" />
</div>

@section scripts {

	<script type="text/javascript">
		$(function () {
			starHub.client.chatReceived = function (name, message) {
			    appendToChat("&lt;" + name + "&gt; " + message + "<br/>");
			};

			starHub.client.playerJoined = function (name) {
			    appendToChat("<b>Player " + name + " joined</b><br/>");
			};

			starHub.client.playerLeft = function (name) {
			    appendToChat("<b>Player " + name + " left</b><br/>");
			}

			starHub.client.authError = function () {
				window.location.href = "@Url.Content("~/login")";
			};

		    starHub.client.banned = function () {
		        appendToChat("You cannot chat here, you have been banned!");
		    };

		    $.connection.hub.disconnected(function () {
		        appendToChat("<b>You have been disconnected from chat!</b><br/>");
		    });

		    $.connection.hub.reconnected(function () {
		        appendToChat("<b>You have been reconnected to chat!</b><br/>");
		    });

			$(document).on("hubStarted", function () {
			    starHub.server.joinChat();
			    appendToChat("<b>You have been connected to chat!</b><br/>");
			});

			$("#chatInput").keypress(function (e) {
				if (e.which == 13) {
					sendMessage($("#chatInput").val());
					$("#chatInput").val("");

					return false;
				}
			});

		});

        function appendToChat(message) {
            $("#chat").append(message);
            $("#chat").scrollTop($("#chat")[0].scrollHeight);
        }

		function sendMessage(message) {
			starHub.server.sendMessage(message);
		}
	</script>

}